.mainContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

.tableContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}